{% extends "base.html" %}
{% block content %}

    <h1>Class Registration</h1>
	<table class='table table-striped'>
	{% for s in student %}
		<tr>
			<th>Student Name </th>
			<th>Student DOB </th>
			<th>Student Current Class</th>
			<th>Parents</th>
			<th>Parents</th>
			<th>Register</th>
		</tr>
		<tr>
			<td> {{s.student.first_name}} {{s.student.last_name}} </td>
			<td> {{s.dob}} </td>
			{% if register %}
				{% for r in register %}
					<td>{{r.class_name}}</td>
				{% endfor %}
			{% else %}
				<td>New Student</td>
			{% endif %}
			{% for p in s.parent.all %}
			<td> {{p.parent}} </td>
			{% endfor %}
		</tr>
        <script>
            $(document).ready(function () {
                $('.table').on('change', '#id_class_name', function () {
                    console.log('changed');
                    // get class departments
                    $.get('{% url "register_class" s.id s.student.id %}' + '?class=' + $(this).val(), function(rdata){
                        var deparment_select = $('#department_dd');
                        var sub_table = $('#select_subjects');
                        deparment_select.empty();
                        sub_table.empty();
                        $.each(rdata, function(i, data){
                            sub_table.append('<tr><td><input type="checkbox" id="'+ data[4] +'"></td><td>'+ data[0] +'</td><td>'+ data[1]
                                +'</td><td>'+ data[2] +'</td><td>'+ data[3] +'</td></tr>')
                        });
                    }, "json");
                });


                $('.register-selected-classes').click(function () {
                    console.log($('#select_subjects').find('input[type="checkbox"]:checked'));
                    var selected_classes = [];
                    $('#select_subjects').find('input[type="checkbox"]:checked').each(function () {
                        console.log($(this).attr('id'));
                        selected_classes.push($(this).attr('id'))
                    });
                    $.get('{% url "register_class" s.id s.student.id %}' + '?reg_class=' + selected_classes, function(rdata){
                        location.reload();
                    })

                });


            });

        </script>
	{% endfor %}
	{% for s in school %}
		<td>{{ s.type }}</td>
{#		{% if s.type == 'P' %}#}
{#		#}
{#		<form action="" method="post" class='form-horizontal'>#}
{#        {% csrf_token %}#}
{#			<tr><td>{{form}}</td></tr>#}
{#			<tr><td><input type='Submit' value='Register'/></tr></td>#}
{#		</form>#}
{#		{% endif %}#}
		
		{% if s.type == 'S' %}
			<h3>If Student is of age to pick subjects such as in Form 3 or Form 4 Click Select Subjects Button</h3>
			<form action="" method="post" class='form-horizontal'>
			{% csrf_token %}
			<tr><td>{{form}}</td></tr>
{#			<tr><td><input type='Submit' value='Register'/></tr></td>#}
		</form>


		
{#		<form action="" method="post" class='form-horizontal'>#}
{#        {% csrf_token %}#}
{#            <tr><td><b>Department Name: </b></td><td>#}
{#            <select id="department_dd"></select>#}
{#        </td></tr>#}
{#		<tr><td><input type='Submit' value='Select Subjects'/></tr></td>#}
{#		</form>#}
		{% endif %}
	{% endfor %}
	</table>

    <table id="" class="table ">
        <tr>
            <th>Select</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Class</th>
            <th>Day and Time</th>
        </tr>
    <tbody id="select_subjects">

    </tbody>
    <tr><td><a class="btn btn-default register-selected-classes">Register</a></td></tr>

    </table>

    <h1>Student already registered classes</h1>

    <table class="table">
    <tr>
        <th>Select</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Class</th>
        <th>Day and Time</th>
    </tr>
    {% for rc in reg_classes %}
{#        {%  for sub in rc.class_name.subject.all %}#}
        <tr>
            <td><input type="checkbox" value="{{ rc.id }}"></td>
{#            <td>{{ sub }}</td>#}
            <td>
                {% for sub in rc.class_name.subject.all %}
                    {{ sub }},
                {% endfor %}</td>
            <td>{{ rc.class_name.teacher }}</td>
            <td>{{ rc.class_name }}</td>
            <td>{{ rc.class_name.classDaysandTime }}</td>
        </tr>
{#        {% endfor %}#}
    {% endfor %}
    </table>

<script>

</script>

{% endblock %}