{% extends "base.html" %}
{% block content %}
  
    <form action='' method="post" class='form-horizontal' name='studentform'>
        {% csrf_token %}
            <h1>{{ request.user.username }}Create New Student</h1>
				
				{{userform}}
				{{form}}
				{% if parent %}
					<input type="hidden" value="{{ parent }}" name="parent"/>
					<input type="hidden" value="{{ address }}" name="address"/>
					<input type="hidden" value="{{ check }}" name="check"/>
				{% endif %}
		<input type="submit"/>
	</form>


{% endblock %}